.cityList{
    display: inline-block;
    padding-bottom: 1%;
}

.cityList .select{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 10pt;
    cursor: pointer;
    padding-right: 1em;
}

.cityList .unselect{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 10pt;
    cursor: pointer;
    color: lightgray;
    padding-right: 1em;
    text-decoration:line-through;
}

.separataor{
    border: 1px solid darkgray;
    height: 1px;
    background-color: darkgray;
    margin-bottom: 1%;
}