<div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
  <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
    <div *ngFor="let city of cities" class="cityList">
            <span [ngClass]="GetCityClass(city.Visible)" (click)="ShowHideCity(city.Name)">{{ city.Name }}</span>
    </div>
  </div>

  <div class="separataor">&nbsp;</div>

  <div class="col-md-2 col-sm-2 col-lg-4 col-xl-4">
    <ng-container *ngFor="let cityWeather of cities">
      <app-city-weather *ngIf="cityWeather.Visible" [cityName]="cityWeather.Name"></app-city-weather>
    </ng-container>
  </div>
</div>