.sheet{
    border: 1px solid lightblue;
    border-radius: 10px;
    position: relative;
    float: left;
    margin-right: 1%; 
    margin-bottom: 1%; 
    width: 20em; 
}

.SheetHeader{
    border-radius: 10px 10px 0px 0px;
    background-color: lightblue;
    padding-left: 4%;
    height: 100%;
}

.SheetCity{
    width: 70%;
    display: inline-block;
}

.SheetCity > h2{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}
.SheetCity  .description{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-style: italic;
    font-size: 10pt;
    display: block;
}

.SheetCity  .cityname{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-weight: bold;
    font-size: 15pt;
}

.SheetCity  .temp{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 12pt;
    display: block;
}


.SheetBody{
    background-color: lightgoldenrodyellow;
    padding-left: 4%;
    height: 100%;
}

.SheetBody .desc{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-weight: bold;
    font-size: 10pt;
    display: inline-block;
    padding-right:5%;
    padding-left: 10%;
}

.SheetBody .value{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-style: italic;
    font-size: 10pt;
    display: inline-block;
}

.SheetBody .min{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-style: italic;
    font-size: 10pt;
    display: inline-block;
    color: blue;
}

.SheetBody .max{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-style: italic;
    color: red;
    font-size: 10pt;
    display: inline-block;
    
}


.sheetFooter{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-style: italic;
    font-size: 8pt;
    text-align: center;
}