
  <div class="sheet">
    <div class="SheetHeader">   
        <div class="SheetCity">
          <span class="cityname">{{ cityName }}</span><span class="temp">{{ currentTemp }}</span>
          <span class="description">{{ description }}</span>
        </div>
  
        <img [src]="ShowWeatherIcon()" />

    </div>
    <div class="SheetBody">

        <span class="desc">Wind Speed: </span> <span class="value">{{ windSpeed }}</span>
   
        <span class="desc">Min / Max Temperature: </span>
        <span class="min">{{ minTemp }}</span><span>/</span> <span class="max">{{ maxTemp }}</span>
      </div>
      <div class="sheetFooter">
          <span>Last Update: {{ lastUpdate }}</span>
      </div>
    </div>
